extends layout

block content
  h1 Login
  p Please login below
  form(method='POST', action='/users/register', enctype='/multipart/form-data')
    .form-group
      label Userame
      input.form-control(name='username', type='text')
    .form-group
      label Name
      input.form-control(name='password', type='password')
    input.btn.btn-default(name='submit', type= 'submit', value='Log In')
